<!DOCTYPE html>
<html>
<head>
  <title>Users</title>
</head>
<body>
  <h1>Users</h1>
  <ul>
    <% users.forEach(user => { %>
      <li><%= user.username %> (<%= user.email %>)</li>
    <% }); %>
  </ul>
  <a href="/create-user">Create New User</a>
</body>
</html>
